@-moz-document regexp("(https?)://(?!forums)\\w+\\.gta5-mods\\.com.*") {
.file-list .file-list-obj {
	height: auto;
}

.file-list .file-list-obj .preview.empty {
	min-height: inherit;
}

.file-list .file-list-obj > .details {
	position: relative;
}

.file-list .file-list-obj > .details > .stats {
	bottom: inherit;
	display: block;
	font-size: 15px;
	font-weight: 300;
	position: relative;
}

@media (max-width: 991px) {
	.file-list .row .col-md-3:nth-child(2n+1) {
		clear: both;
	}
}

@media (min-width: 992px) {
	.file-list .row .col-md-3:nth-child(4n+1) {
		clear: both;
	}
}
}
